#form-filters {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.637);
  border: 1px solid white;
  color: rgb(210, 224, 13);
  display: flex;
  flex-direction: column;
  height: 17rem;
  margin-top: 2rem;
  padding: 1rem;
  width: 75rem;
}

#name-filter {
  background: transparent;
  border: 1px solid white;
  color: rgb(210, 224, 13);
  height: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 20rem;
}

#container-input-filters {
  display: flex;
  justify-content: space-evenly;
  margin: 0.6rem;
  width: 70vw;
}

#container-card-filters {
  display: flex;
}

.filter {
  border: 2px solid white;
  margin: 0.4rem;
  padding: 0.4rem;
  text-align: center;
}

#value-filter {
  text-align: center;
  width: 5rem;
}

button, input, select {
  border-radius: 5px;
  margin: 0.3rem;
  padding: 0.3rem;
  text-align: center;
}
