#form-filters {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.637);
  border: 1px solid white;
  color: rgb(210, 224, 13);
  display: flex;
  height: 10rem;
  margin-top: 2rem;
  padding: 1rem;
  width: 75rem;
}

#name-filter {
  background: transparent;
  border: 1px solid white;
  color: rgb(210, 224, 13);
  height: 1.5rem;
  text-align: center;
  width: 20rem;
}
