#container-table {
  height: 35rem;
  margin-bottom: 5rem;
  overflow: scroll;
  width: 75rem;
}

table {
  background-color: rgba(0, 0, 0, 0.637);
  border-collapse: collapse;
  color: rgb(210, 224, 13);
  font-family: arial , sans-serif;
}

td, th {
  border: 1px solid white;
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: rgba(0, 0, 0, 0.705);
  border: 1px solid white;
}
