#container-table {
  height: 35rem;
  overflow: scroll;
  width: 75rem;
}

table {
  border-collapse: collapse;
  font-family: arial , sans-serif;
  color: rgb(210, 224, 13);
  background-color: rgba(0, 0, 0, 0.637);
}

td, th {
 /*  border: 1px solid #ddd; */
  border: 1px solid white;
  padding: 0.5rem;
  text-align: center;
}

th {
  /* background-color: #ddd; */
  border: 1px solid white
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */
